---
import Layout from "../layouts/Layout.astro";
import { useTranslations } from "../libs/i18n";
import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import LatestActivities from "../components/LatestActivities.astro";
import LatestNews from "../components/LatestNews.astro";

const { t } = useTranslations(Astro.url);
---

<Layout
    title={t({
        ja: "トップページ",
        en: "Home",
        zh: "首页",
    })}
    openGraph={{
        basic: {
            type: "website",
        },
    }}
>
    <main>
        <Hero />
        <AboutSection />
        <LatestActivities />
        <LatestNews />
    </main>
</Layout>
